h1 {
    color: green;
}
.container {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}